* {
    box-sizing:content-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: auto 100px;
    background-color: #E5E5E5;
    height: auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    margin: 0;
    list-style-type: none;
}

.menu .menu_link{
    color: #000000;
    font-size: 17px;
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 18px;
    
}

.Logo {
    text-align: center;
    padding: 30px;
}

h1 {
    letter-spacing: 5px;
    text-align: center;
    margin: 10px;
    font-size: 37px;
}

.interior {
    display: block;
    text-align: center;
    margin-top: 20px;
}
.interior img {    
    width: 100%;
    height: 100%;  
    margin-top: 20px;
}

.description {
    margin: 20px;
    text-align: center;
    letter-spacing: 3px;
    line-height: 1.5em;
    font-size: 20px;

}

.main_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #B0AD92;
 
}

h3 {
    letter-spacing: 2px;
    font-size: 20px;
}

.content {
    float: left;
    width: 500px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    background: #efefee;
    
     
}


.timetable {
    margin: 10px 20px;
    letter-spacing: 2px;
    line-height: 1.3em;
}

.catalog_link {
    color: rgb(160, 2, 2);
    letter-spacing: 3px;
    font-size: 15px; 
    font-weight: bold;
}



.gallery_pict {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
}

.pict {
    height: auto;
    width: 40%;
    margin: 20px;
}

.pict img {
    
    height: 100%;
    width: 100%;
}

h2 {
    margin: 0;
    padding: 30px;
    text-align: center;
    letter-spacing: 2px;
    background: #B0AD92;
    border-top: solid 1px #4b4847;
    border-bottom: solid 1px #4b4847;
    font-size: 30px;
    
   
}

.gallery {
background: #B0AD92;
}

.gallery_pict {
height: 100%;
}

.menu_footer {
    display:flex;
    justify-content:space-between;
    list-style-type:none;
    margin: 20px 50px;
    
    
}

.menu_footer a  {
    color: black;
    letter-spacing: 3px;
    font-size: 20px;
  }

.conteiner_promo {
    background: url(img/vaucher/gift-voucher-coupon-discount-special-offer.jpg) center center/cover no-repeat;
    height: 640px;
}

.gift_conteiner {
    padding-top: 5px;
    width: 100%;
    
}

.gift_description {
    margin: 10px 30px;
    text-align: center;
    letter-spacing: 3px;
    line-height: 1.5em;
    font-size: 25px;
    color:rgb(249, 249, 249);
    font-weight: 300;
}

.simple {
    margin: 30px 40px;
}
.promo {
    display: flex;
    justify-content: space-between;
    margin: 280px 100px;
}



.promo_description {
    width: 800px;
    letter-spacing: 3px;
    line-height: 1.5em;
    font-size: 20px;
    color:rgb(249, 249, 249);
    font-weight: 300;
}

.promo_btn {
    width: 220px;
    height: 70px;
    background: none;
    color:rgb(249, 249, 249);
    font-size: 25px;
    font-weight: 300;
    border: 4px solid rgba(0, 0, 0, 0.35);
}

.promo_btn:hover {
    background:rgb(249, 249, 249);
    color:black;
    cursor: pointer;
    

}

.price {
    height: 50px;
    width: 300px;
    color:rgb(255, 0, 0);
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.promo_pict{
    margin: 0;
    padding: 0;
    width: 50%;

}

.program_header {
    margin: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.dinner_program {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.dinner_program img {
    width: 100%;
    height: 100%;
        
}

.dinner_description {
    display: flex;
    width: 50%;
    text-align: center;
    letter-spacing: 3px;
    line-height: 1.5em;
    font-size: 20px;
    align-items: center;
    background: #efefee;
}

.dinner_description p {
    margin: 30px;
}





